{
  "name": "sana-2017",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "public/js/init.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"public/js/init-min.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "public",
      "public/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "public/styles/site.less",
      "imports": [
        "public/styles/site/reset.less",
        "public/styles/site/variables.less",
        "public/styles/site/fonts.less",
        "public/styles/site/icomoon.less",
        "public/styles/site/mixins.less",
        "public/styles/site/site.less",
        "public/styles/site/layout.less",
        "public/styles/site/components/top-bar.less",
        "public/styles/site/components/fullscreen-img.less",
        "public/styles/site/components/buttons.less",
        "public/styles/site/components/header.less",
        "public/styles/site/components/footer.less",
        "public/styles/site/components/form-elements.less",
        "public/styles/site/pages/homepage.less",
        "public/styles/site/components/lightslider.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "subdom/sana",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "24502.w2.wedos.net",
      "port": 21,
      "user": "w24502_ftp",
      "password": "SuCM3Tpf"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/public/images/about-large@2x.jpg",
      "/public/images/tech-large@2x.jpg",
      "/public/images/tech-large@2x.jpg",
      "/public/images/about-large@2x.jpg",
      "/public/images/about-large@2x.jpg",
      "/public/images/about-large@2x.jpg",
      "/public/images/about-large@2x.jpg",
      "/public/images",
      "/public/images"
    ],
    "history": [
      {
        "file": "index.html",
        "ctime": "2017-07-02T11:54:04.000Z",
        "mtime": "2017-07-02T11:54:04.000Z",
        "size": 7765
      },
      {
        "file": "public/images/mobile-medium@2x.png",
        "ctime": "2017-06-16T08:26:08.000Z",
        "mtime": "2017-06-15T12:55:18.000Z",
        "size": 361913
      },
      {
        "file": "public/js/init-min.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2017-01-31T17:00:19.000Z",
        "size": 85
      },
      {
        "file": "public/js/init.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2017-01-31T17:00:18.000Z",
        "size": 109
      },
      {
        "file": "public/js/jets.min.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2016-10-31T02:38:38.000Z",
        "size": 4043
      },
      {
        "file": "public/js/lightslider.min.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2016-10-24T18:50:16.000Z",
        "size": 16023
      },
      {
        "file": "public/js/masonry.min.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2017-01-31T16:17:36.000Z",
        "size": 23601
      },
      {
        "file": "public/styles/site.css",
        "ctime": "2017-07-02T13:36:01.000Z",
        "mtime": "2017-07-02T13:36:01.000Z",
        "size": 23492
      },
      {
        "file": "public/styles/site.css.map",
        "ctime": "2017-07-02T13:36:01.000Z",
        "mtime": "2017-07-02T13:36:01.000Z",
        "size": 10867
      },
      {
        "file": "public/fonts/icomoon/icomoon.eot",
        "ctime": "2017-06-16T11:19:40.000Z",
        "mtime": "2017-06-16T11:18:46.000Z",
        "size": 1896
      },
      {
        "file": "public/fonts/icomoon/icomoon.svg",
        "ctime": "2017-06-16T11:19:40.000Z",
        "mtime": "2017-06-16T11:18:46.000Z",
        "size": 2568
      },
      {
        "file": "public/fonts/icomoon/icomoon.ttf",
        "ctime": "2017-06-16T11:19:40.000Z",
        "mtime": "2017-06-16T11:18:46.000Z",
        "size": 1732
      },
      {
        "file": "public/fonts/icomoon/icomoon.woff",
        "ctime": "2017-06-16T11:19:40.000Z",
        "mtime": "2017-06-16T11:18:46.000Z",
        "size": 1808
      },
      {
        "file": "public/fonts/sofia-pro/generator_config.txt",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 636
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproblack-demo.html",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 39432
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproblack-webfont.eot",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 61992
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproblack-webfont.svg",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 127552
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproblack-webfont.woff",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 28208
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproblack-webfont.woff2",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 21908
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprobold-demo.html",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 39426
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprobold-webfont.eot",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 63076
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprobold-webfont.svg",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 128426
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprobold-webfont.woff",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 28364
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprobold-webfont.woff2",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 22032
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprolight-demo.html",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 39432
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprolight-webfont.eot",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 62588
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprolight-webfont.svg",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 124966
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprolight-webfont.woff",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 27536
      },
      {
        "file": "public/fonts/sofia-pro/sofiaprolight-webfont.woff2",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 21508
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular-demo.html",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 39452
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular-webfont.eot",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 62028
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular-webfont.svg",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 124377
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular-webfont.woff",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 28456
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular-webfont.woff2",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 22148
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular_italic-demo.html",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 39446
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular_italic-webfont.eot",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 68692
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular_italic-webfont.svg",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 128765
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular_italic-webfont.woff",
        "ctime": "2017-06-14T09:39:40.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 31764
      },
      {
        "file": "public/fonts/sofia-pro/sofiaproregular_italic-webfont.woff2",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 24952
      },
      {
        "file": "public/fonts/sofia-pro/stylesheet.css",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 2251
      },
      {
        "file": "public/js/jquery/jquery-1.11.3.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2017-01-05T09:46:45.000Z",
        "size": 284394
      },
      {
        "file": "public/js/jquery/jquery-1.11.3.min.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2017-01-05T09:46:45.000Z",
        "size": 95957
      },
      {
        "file": "public/js/jquery/jquery-2.1.4.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2017-01-05T09:46:45.000Z",
        "size": 247597
      },
      {
        "file": "public/js/jquery/jquery-2.1.4.min.js",
        "ctime": "2017-06-11T22:35:21.000Z",
        "mtime": "2017-01-05T09:46:45.000Z",
        "size": 84345
      },
      {
        "file": "public/fonts/sofia-pro/specimen_files/grid_12-825-55-15.css",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 4597
      },
      {
        "file": "public/fonts/sofia-pro/specimen_files/specimen_stylesheet.css",
        "ctime": "2017-06-14T09:39:41.000Z",
        "mtime": "2017-06-14T03:38:08.000Z",
        "size": 7310
      },
      {
        "file": "public/styles/site/components/bricklayer.css",
        "ctime": "2017-06-12T14:44:14.000Z",
        "mtime": "2017-06-12T14:44:14.000Z",
        "size": 875
      },
      {
        "file": "public/styles/site/components/fullscreen-img.css",
        "ctime": "2017-06-14T14:29:42.000Z",
        "mtime": "2017-06-14T14:29:42.000Z",
        "size": 87
      },
      {
        "file": "public/styles/site/components/fullscreen-img.css.map",
        "ctime": "2017-06-14T14:29:42.000Z",
        "mtime": "2017-06-14T14:29:42.000Z",
        "size": 114
      },
      {
        "file": "public/styles/site/components/lightslider-custom.css",
        "ctime": "2017-06-12T14:44:14.000Z",
        "mtime": "2017-06-12T14:44:14.000Z",
        "size": 346
      },
      {
        "file": "public/styles/site/components/lightslider.css",
        "ctime": "2017-06-12T14:44:14.000Z",
        "mtime": "2017-06-12T14:44:14.000Z",
        "size": 7612
      },
      {
        "file": "about.html",
        "ctime": "2017-07-02T11:54:02.000Z",
        "mtime": "2017-07-02T11:54:02.000Z",
        "size": 6867
      },
      {
        "file": "enterprise.html",
        "ctime": "2017-07-02T12:12:21.000Z",
        "mtime": "2017-07-02T12:12:21.000Z",
        "size": 7161
      },
      {
        "file": "careers.html",
        "ctime": "2017-07-02T11:54:03.000Z",
        "mtime": "2017-07-02T11:54:03.000Z",
        "size": 7392
      },
      {
        "file": "technology.html",
        "ctime": "2017-07-02T11:54:02.000Z",
        "mtime": "2017-07-02T11:54:02.000Z",
        "size": 6205
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": true,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"],\"autoCompile\":true,\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"typescript\",\"ts\"],\"replaceSegmentsWith\":\"js\",\"relative\":\"\"},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-typescript\":{\"enabled\":true}}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}