/*!
 *
 *	Sana
 *
 *	Freelance Front-End Developer
 *	-
 *	vlastimilfiser.com
 *	@vlafiser
 *
 *	2016 Vlastimil Fiser
 *
 *
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.c {
  *zoom: 1;
}
.c:before,
.c:after {
  display: table;
  content: "";
}
.c:after {
  clear: both;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
p {
  margin: 0;
}
a,
a:hover,
a:active {
  color: #717171;
}
a:hover,
a:active {
  text-decoration: none;
}
.highlited {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
  font-weight: 500;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
small {
  font-size: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: #ffffff;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #717171;
  text-align: center;
  font-family: 'DINOffc-Regular', sans-serif;
}
section {
  padding: 0;
  margin: 0;
}
.content-wrap {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 1040px) {
  .content-wrap {
    width: 100%;
  }
}
.section.section--header {
  height: 820px;
  background-color: #DDE5EA;
}
.section.section--header .content h2 {
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 38px;
}
.section.section--header .image {
  bottom: auto;
  top: 50%;
  margin-top: -340px;
}
.section.section--header .image .iphone {
  width: 348px;
  height: 680px;
  background: url(../images/iphone@2x.png) no-repeat 0 0;
  background-size: 348px 680px;
}
.section.section--header .image .iphone .vimeoXtra {
  position: relative;
  left: 40px;
  top: 93px;
  width: 268px;
  height: 486px;
}
@media (max-width: 990px) {
  .section.section--header {
    height: 720px;
  }
  .section.section--header .content {
    width: 44%;
    top: 26%;
  }
  .section.section--header .content h2 {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 30px;
  }
  .section.section--header .image {
    width: 56%;
    margin-top: -266px;
  }
  .section.section--header .image .iphone {
    float: right;
    width: 274px;
    height: 532px;
    background-size: 274px 532px;
  }
  .section.section--header .image .iphone .vimeoXtra {
    left: 32px;
    top: 73px;
    width: 211px;
    height: 379px;
  }
}
@media (max-width: 690px) {
  .section.section--header {
    height: auto;
  }
  .section.section--header .inner {
    padding-top: 60px;
  }
  .section.section--header .content {
    width: 100%;
  }
  .section.section--header .image {
    width: 274px;
    margin: 40px 0 60px;
  }
  .section.section--header .image .iphone .vimeoXtra {
    left: auto;
  }
}
.intro-video {
  position: relative;
  padding: 62px 0;
  /*@media (max-width: 440px){
        .vimeoFrame {
            //width: 227px;
            //height: 460px;
            .square(400px);

            .vimeoXtra {
                .square(400px);
                margin-top: 0;
                margin-left: 0;

                //margin-top: -70px;
                //margin-left: -137px;
                //width: 500px;
                //height: 600px;
            }
        }
    }*/
}
.intro-video:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-video .vimeoFrame {
  width: 454px;
  height: 920px;
  overflow: hidden;
  margin: 0 auto;
}
.intro-video .vimeoFrame .vimeoXtra {
  margin-top: -60px;
  margin-left: -275px;
  display: block;
  width: 1000px;
  height: 1040px;
}
@media (max-width: 890px) {
  .intro-video .vimeoFrame {
    width: 480px;
    height: 480px;
  }
  .intro-video .vimeoFrame .vimeoXtra {
    width: 480px;
    height: 480px;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 690px) {
  .intro-video .vimeoFrame {
    width: 360px;
    height: 360px;
  }
  .intro-video .vimeoFrame .vimeoXtra {
    width: 360px;
    height: 360px;
    margin-top: 0;
    margin-left: 0;
  }
}
.section {
  width: 100%;
  height: auto;
  text-align: left;
  background-color: #F2F2F2;
  /* @media (max-width: 540px){
        .inner {
            padding: 0 20px;
        }
    }*/
}
.section .inner {
  width: 860px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.section--grey {
  background-color: #DBE5E8;
}
@media (max-width: 1040px) {
  .section .inner {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.section--feature {
  height: 520px;
}
.section--feature .inner {
  height: 100%;
  -webkit-transform-style: preserve3d;
  -moz-transform-style: preserve3d;
  transform-style: preserve3d;
  position: relative;
  overflow: hidden;
}
.section--feature .content {
  left: 0;
  width: 47%;
  top: 30%;
  position: absolute;
}
.section--feature .content h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 30px;
  color: #424242;
}
.section--feature .content p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
}
.section--feature .image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section--feature .image--gif {
  width: 348px;
  height: 470px;
  background: red;
  background: url(../../styles/images/iphone@2x.png) no-repeat 0 0;
  background-size: 348px auto;
}
.section--feature .image img {
  display: block;
  width: 270px;
  height: auto;
  position: relative;
  top: 91px;
  left: 39px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.section--feature.section--imageOnLeft .content {
  left: auto;
  right: 0;
}
.section--feature.section--imageOnLeft .image {
  right: auto;
  left: 0;
}
@media (max-width: 1040px) {
  .section--feature .inner {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 960px) {
  .section--feature {
    height: 420px;
  }
  .section--feature .image {
    width: 35%;
  }
  .section--feature .image--gif {
    background-size: 200px auto;
    bottom: -200px;
  }
  .section--feature .image img {
    width: 155px;
    height: auto;
    top: 52px;
    left: 23px;
  }
}
@media (max-width: 860px) {
  .section--feature .content h2 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 30px;
  }
  .section--feature .content p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 30px;
  }
}
@media (max-width: 690px) {
  .section--feature {
    height: auto;
    text-align: center;
  }
  .section--feature .inner {
    -webkit-transform-style: none;
    -moz-transform-style: none;
    transform-style: none;
    height: auto;
    padding-top: 80px;
  }
  .section--feature .content,
  .section--feature .image {
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
  .section--feature .image {
    display: inline-block;
    margin-top: 40px;
  }
  .section--feature .image img {
    width: 241px;
  }
  .section--feature .image--gif {
    background-position: center 0;
    background-size: 274px auto;
    margin-bottom: -104px;
  }
  .section--feature .image--gif img {
    margin: auto;
    width: 210px;
    height: auto;
    top: 72px;
    left: auto;
  }
}
.section--features .inner {
  width: 740px;
  padding: 182px 0;
}
.section--features ul li {
  float: left;
  width: 50%;
  padding-right: 10%;
  margin-bottom: 75px;
}
.section--features ul li:nth-child(even) {
  padding-right: 0;
  padding-left: 10%;
}
.section--features ul li.last-items {
  margin-bottom: 0;
}
.section--features ul li .circle {
  display: block;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
}
.section--features ul li .circle--pink {
  background-color: #E2B9A0;
}
.section--features ul li .circle--purple {
  background-color: #48237D;
}
.section--features ul li .circle--green {
  background-color: #189589;
}
.section--features ul li .circle--yellow {
  background-color: #E2C400;
}
.section--features ul li .circle .icon {
  display: block;
  background-image: url(../../styles/images/icons@2x.png);
  background-repeat: no-repeat;
  background-size: 111px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.section--features ul li .circle .icon--flash {
  width: 16px;
  height: 30px;
  background-position: 0 0;
  margin-top: -15px;
  margin-left: -8px;
}
.section--features ul li .circle .icon--brain {
  width: 24px;
  height: 30px;
  background-position: -18 0;
  margin-top: -15px;
  margin-left: -12px;
}
.section--features ul li .circle .icon--connection {
  width: 34px;
  height: 30px;
  background-position: -45px 0;
  margin-top: -15px;
  margin-left: -17px;
}
.section--features ul li .circle .icon--prize {
  width: 30px;
  height: 30px;
  background-position: -81px 0;
  margin-top: -15px;
  margin-left: -15px;
}
.section--features ul li h2 {
  margin-bottom: 35px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  color: #424242;
  text-align: center;
}
.section--features ul li p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 25px;
  height: 140px;
  text-align: center;
}
@media (max-width: 1040px) {
  .section--features .inner {
    width: 80%;
  }
}
@media (max-width: 940px) {
  .section--features .inner {
    width: 100%;
    padding: 140px 60px;
  }
}
@media (max-width: 780px) {
  .section--features ul li {
    padding-right: 7%;
  }
  .section--features ul li:nth-child(even) {
    padding-right: 0;
    padding-left: 7%;
  }
}
@media (max-width: 730px) {
  .section--features .inner {
    padding: 80px 60px;
  }
  .section--features ul li {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .section--features ul li:nth-child(even) {
    padding-left: 0;
  }
  .section--features ul li.last-items {
    margin-bottom: 50px;
  }
  .section--features ul li:last-child {
    margin-bottom: 0;
  }
  .section--features ul li .circle {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .section--features ul li p {
    height: auto;
  }
}
.section--about .inner {
  padding: 185px 0;
}
.section--about h2,
.section--about .content p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
}
.section--about h2 {
  float: left;
  display: block;
  width: 36%;
  color: #424242;
}
.section--about .content {
  float: right;
  width: 64%;
}
@media (max-width: 1040px) {
  .section--about .inner {
    width: 80%;
  }
}
@media (max-width: 730px) {
  .section--about .inner {
    width: 80%;
    padding: 80px 0;
    text-align: center;
  }
  .section--about h2,
  .section--about .content {
    float: none;
    width: 100%;
  }
  .section--about h2 {
    margin-bottom: 40px;
  }
}
.section--schools {
  width: 100%;
  height: 538px;
  background: url(../../images/school@2x.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;
  -webkit-transform-style: preserve3d;
  -moz-transform-style: preserve3d;
  transform-style: preserve3d;
  text-align: center;
}
.section--schools .content {
  display: block;
  float: none;
  width: 44%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  margin-left: -22%;
}
.section--schools h2,
.section--schools p {
  color: #ffffff;
}
.section--schools h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 30px;
  margin-bottom: 35px;
}
.section--schools p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
}
@media (max-width: 780px) {
  .section--schools {
    height: 400px;
  }
  .section--schools .content {
    width: 60%;
    margin-left: -30%;
  }
  .section--schools h2 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
  }
}
.footer {
  padding: 52px 0 56px;
  background-color: #0082C4;
  color: #ffffff;
  overflow: hidden;
}
.footer .inner {
  width: 1040px;
  margin: 0 auto;
}
.footer a,
.footer a:hover,
.footer a:active {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}
.footer a:hover:after,
.footer a:active:after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  top: -2px;
  left: 7px;
}
.footer .br {
  display: block;
}
.footer ul li {
  float: left;
  width: 33.333333333%;
  text-align: left;
  padding-left: 10%;
}
.footer ul li h2,
.footer ul li p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 23px;
}
.footer ul li h2 {
  margin-bottom: 25px;
}
@media (max-width: 860px) {
  .footer .inner {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .footer .br {
    width: 20px;
    display: inline-block;
  }
  .footer ul li {
    width: 50%;
    text-align: center;
    padding-left: 0;
  }
  .footer ul li:last-child {
    margin-top: 60px;
    width: 50%;
  }
  .footer ul li:last-child h2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .footer ul li {
    width: 100%;
  }
  .footer ul li:last-child {
    margin-top: 40px;
    width: 100%;
  }
}
@font-face {
  font-family: 'DINOffc-Regular';
  src: url('../../fonts/din/DINOffc_grayscale.eot');
  src: url('../../fonts/din/DINOffc_grayscale.eot?#iefix') format('embedded-opentype'), url('../../fonts/din/DINOffc_grayscale.woff') format('woff'), url('../../fonts/din/DINOffc_grayscale.ttf') format('truetype'), url('../../fonts/din/DINOffc_grayscale.svg#DINOffc-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}
